@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    font-family: 'PT Serif', serif;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.input-search {
    border-radius: 2rem;
}

.button-search {
    border-radius: 2rem;
}

.card-container-dad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
}

.card-container {
    width: 300px;
    height: auto;
    position: relative;
    border-radius: 10px;
}

.card-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #19161a8a 0%, #414949 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

.card .img-content {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(-45deg, #19161a8a 0%, #414949 100%);
    transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.st53 {
    width: 240px;
    height: auto;
    fill: none;
    stroke: #53545c;
    stroke-width: 1.848;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
}

.card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #ababad;
    -webkit-text-stroke: 0.5px black;
    padding: 20px 24px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.overview{
    color:#ababad;
    font-size: 1.5em;
    font-weight: 600;
}

.card .content .heading {
    font-size: 32px;
    font-weight: 700;
}

.card:hover .content {
    opacity: 1;
    transform: translateY(0);
}

.card:hover .img-content {
    scale: 2;

    filter: blur(3px);
}

.card:hover .img-content svg {
    fill: transparent;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 80px auto;
}

.page-item {
    font-size: 12px;
}

.page-link {
    color: #000;
}

/* Estilos para pantallas de 425px a 767px */
@media (min-width: 425px) and (max-width: 767px) {
    .input-group {
        display: flex;
        justify-content: center;
        margin-top: 110px;
    }
    .input-Dad{
        width: 100%;
        display: flex;
        margin-top: 15px;
    }
    .card-container-dad {
      justify-content: center; 
    }
  
    .card-container {
      width: 80%; 
    }
  }

  