@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
header {
  font-family: 'PT Serif', serif;
}

.username{
  font-size: 16px !important ;
  color:#e7effa !important;
  margin-left: 0;
}
.navbar-toggler {
  order: 3; 
  margin-right: 10px; 
}

.nav-Dad{
  display:flex ;
  justify-content: space-between;
  width: 100%;
}
/* Estilos para pantallas de 768px en adelante */
@media (min-width: 768px) and (max-width: 1024px) {
  .username {
    font-size: 16px !important;
    margin-left: 0; /* Ajusta el margen a tu necesidad */
  }

  .nav-Dad {
    width: 80%; /* O el porcentaje que desees */
  }
}

/* Estilos para pantallas de 425px a 767px */

  @media (min-width: 425px) and (max-width: 767px) {
    .username {
      font-size: 12px;
      margin-left: 0; /* Ajusta el margen a tu necesidad */
    }
  
    .nav-Dad {
      width: 80%;
      display: flex;
      justify-content: space-between; /* Coloca los elementos al principio y al final */
    }
  
    .navbar-toggler {
      order: 3; /* Mueve el botón de hamburguesa al principio del contenedor */
      margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
    }
  
}

