<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!-- Navbar Brand -->
    <a class="navbar-brand" (click)="toHome()">You Movies And TV App </a>
    <!-- Display username -->
    <div class="navbar-brand">{{userName}}</div>

    <!-- Navbar Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas Navbar -->
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1"
      id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <!-- Offcanvas Title -->
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <!-- Close Button -->
        <button type="button" class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <!-- Navbar Items -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="toHome()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toMovies()">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toTv()">TV</a>
          </li>
          <li class="nav-item dropdown">
            <!-- Dropdown Menu -->
            <a class="nav-link dropdown-toggle" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              User Account
            </a>
            <!-- Dropdown Menu Items -->
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" (click)="toLogin()">Sign In</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/" (click)="destroySession()">Log
                  Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
