@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
header {
  font-family: 'PT Serif', serif;
}

.name{
  font-size: 16px !important ;
  color:#e7effa !important;
  margin-left: 0;
}
.navbar-toggler {
  order: 3; 
  margin-right: 10px; 
}

.nav-Dad{
  display:flex ;
  justify-content: space-between;
  width: 100%;
}
/* Estilos para pantallas de 768px en adelante */
@media (min-width: 768px) and (max-width: 1024px) {
  .name {
    font-size: 16px !important;
    margin-left: 0; 
  }

  .nav-Dad {
    width: 100%;
  }
}

/* Estilos para pantallas de 425px a 767px */

  @media (min-width: 425px) and (max-width: 767px) {
    .name {
      font-size: 12px;
      margin-left: 0; 
    }
  
    .nav-Dad {
      width: 100%;
      display: flex;
      justify-content: space-between; 
    }
  
    .navbar-toggler {
      order: 3; 
      margin-right: 10px; 
    } 
    .navbar-brand{
      font-size: 12px;
    }
    .navbar-brand svg {
      width: 20px; 
    }
   
}

@media screen and (min-width: 320px) and (max-width: 424px){
  .name {
    font-size: 12px;
    margin-left: 0; 
  }

  .nav-Dad {
    width: 100%;
    display: flex;
    justify-content: space-between; 
  }

  .navbar-toggler {
    order: 2; 
    margin-right: 0px; 
  }
  .navbar-brand{
    font-size: 11px;
  }
  .navbar-brand svg {
    width: 15px; 
    height: 20px; 
  }
}


