@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
  font-family: 'PT Serif', serif;
}

.slice-Movies {
  width: 100%;
  margin-top: 80px;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
}

.carousel-item {
  flex: 0 0 auto;
  margin-right: 10px;
}

.carousel-item:last-child {
  margin-right: 0;
}

.movie-description {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  padding: 5px 30px;
  position: absolute;
  width: 100%;
  align-items: flex-start;
}

.title {
  font-size: 24pt;
}

.overview {
  font-family: 'PT Serif', serif;
  text-align: justify;
}

.main-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 5rem;
  margin-top: 40px;
}