
<div class="container">
    <div class="slice-Movies">
    <ng-image-slider 
    [images]="imgCollectionMovies"
    [direction]="'ltr'"
    [infinite]="true"
    [animationSpeed]="2"
    [slideImage]="1"
    [autoSlide]="{ interval: 2, stopOnHover: false }"
    [lazyLoading]="true"
    [imageSize]="getImageSize()"
    [showArrow]="false"
    [imagePopup]="true"
    (imageClick)="handleImageClickMovie($event)"
 
     #nav></ng-image-slider>
    </div>
    <div class="main-title"><span>YOUR MOVIE AND TV  CENTRAL</span></div>

    <div class="slice-tv">
        <ng-image-slider 
        [images]="imgCollectionTv"
        [direction]="'rtl'"
        [infinite]="true"
        [showArrow]="false"
        [animationSpeed]="2"
        [imageSize]="getImageSize()"
        [slideImage]="1"
        [autoSlide]="{ interval: 2, stopOnHover: false }"
        [lazyLoading]="true"
        (imageClick)="handleImageClickTv($event)"
   
         #nav></ng-image-slider>
         
        </div>

</div>
