.input-group{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.input-search{
  border-radius: 2rem;
}

.button-search{
  border-radius: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente fila si no caben en el ancho del contenedor */
  justify-content: space-between; /* Distribuye las tarjetas en el espacio disponible */
  gap: 20px; /* Espacio entre las tarjetas */
  margin-top: 50px;
}

.card {
  --main-color: #dedede;
  --sub-color: #928787;
  --bg-color: #323232;
  --accent-color: #BC8D66;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 270px;
  height: auto;
  padding: 25px;
  border-radius: 25px;
  background-color: var(--bg-color);
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 0px 5px -1.5px #000;
}

.card::before {
  content: '';
  width: 99%;
  height: 99%;
  background: var(--sub-color);
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  border-radius: 25px;
  transition: all 0.3s;
}

.card__wrapper {
  display: flex;
  flex-direction: column; /* Puedes ajustar esto según la estructura interna de tu tarjeta */
  justify-content: space-between;
  align-items: justify;
}

  
  .card__img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .card__title {
    color: var(--main-color);
    font-weight: 600;
    text-align: left;
    font-size: 15px;
  }
  
  .card__subtitle {
    color: var(--sub-color);
    font-weight: 800;
    font-size: 20px;
  }
  
  .card__icon {
    width: 40px;
    height: 40px;
    transform: rotate(-45deg);
    transition: all 0.3s;
  }
  
  .card__icon svg {
    width: 100%;
    height: 100%;
  }
  
  .card__icon g {
    fill: var(--main-color);
  }
  
  .card__icon circle, polyline, line {
    stroke: var(--main-color);
  }
  
  .card:hover .card__icon {
    transform: rotate(0);
  }
  
  .card:hover .card__icon circle, .card:hover .card__icon polyline, .card:hover .card__icon line {
    stroke: var(--accent-color);
  }
  
  .card:hover .card__icon g {
    fill: var(--accent-color);
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px -5px #000;
  }
  
  .card:hover::before {
    transform: rotate(10deg);
    box-shadow: 0px 0px 20px -5px #000;
  }
  
  /* remove svg from class ="card__img" and last styles below css code before use */
  .st1 {
    fill: #fff
  }
  
  .st2 {
    fill: none;
    stroke: #242c88;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
  }
  
  .st7 {
    fill: #589fff
  }
  
  .st9 {
    fill: #bc8d66
  }
  
  .st15,.st16 {
    opacity: .4;
    fill: #242c88
  }
  
  .st16 {
    opacity: .2
  }
  
  .st18 {
    fill: #ffc408
  }
  
  .st53 {
    width: 240px;
    height: auto;
    fill: none;
    stroke: #242c88;
    stroke-width: 1.848;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
  }

  .pagination{
    display: flex;
    justify-content: center;
  }
  .page-item{
  font-size: 12px;
  }
  .page-link{
    color: #000;
  }