
.slice-Movies {
  width: 100%;
  margin-top: 80px;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap; /* Ensure items stay in a row */
  justify-content: flex-start; /* Start from the beginning */
  overflow-x: auto;
}

.carousel-item {
  flex: 0 0 auto;
  margin-right: 10px; /* Adjust spacing between items */
}

.carousel-item:last-child {
  margin-right: 0;
}

.movie-description{
  display: flex;
  justify-content: flex-start;
  background-color:rgba(0,0,0,0.3);
  bottom: 0;
  padding: 5px 30px;
  position:absolute;
  width: 100%;
  align-items: flex-start;
}

.title{
  font-size:24pt;
}

.overview{
  font-family:'Roboto', sans-serif;
  text-align: center;
}
.main-title{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 5rem;
  margin-top: 40px;
}