<!-- reusable navbar or header component -->
<app-header></app-header>
<!-- Card the tv -->
<div class="container">
  <div class="card">
    <div class="card__img"> <img [src]="getImageUrl(tv?.poster_path)"
        class="st53" alt></div>
    <div class="card__descr-wrapper">
      <!-- tv title-->
      <p class="card__title">
        {{tv?.name}}
      </p>
      <!-- tv tagline-->
      <p class="card__title">
        {{tv?.tagline}}
      </p>
      <!-- tv release_date-->
      <div class="span-Subtitle">
        <span class="subtitle"><strong>Date:</strong> {{tv?.first_air_date |
          date:' yyyy/ MMMM/dd '}}</span>
      </div>
      <!-- tv Gender-->
      <div class="card__subtitle">
        <div class>
          <span class="subtitle">  <strong *ngIf="tv?.genres && tv?.genres.length > 0">Gender:</strong>
            <ul *ngIf="tv?.genres && tv?.genres.length > 0">
              <li *ngFor="let gender of tv?.genres">{{ gender?.name }}</li>
            </ul></span>
        </div>
      </div>
      <!-- tv Overview-->
      <div class="container">
        <strong *ngIf="tv?.overview && tv?.overview.trim() !== ''">Overview</strong>
        <p class="card__descr">
          {{tv?.overview}}
        </p>
      </div>
      <!-- tv Production-->
      <h4 class="title-Production">Production Companies</h4><br />
      <div class="production">
        <div class="production-row">
          <div
            *ngFor="let productions of tv?.production_companies; let i = index"
            class="production-item">
            <img [src]="getImageUrlProduct(productions.logo_path)"
              class="image-production" [alt]="productions.name">
          </div>
        </div>
      </div>
      <!-- Button GoBack-->
      <div class="card__links">
        <div>
          <a href="./allTv"> <button>
              Return
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
