<!-- reusable navbar or header component -->
<app-header></app-header>
<!-- Card the movies -->
<div class="container">
  <div class="card">
    <div class="card__img"> <img [src]="getImageUrl(movie?.poster_path)"
        class="st53" alt></div>
    <div class="card__descr-wrapper">
      <!-- Movie title-->
      <p class="card__title">
        {{movie?.title}}
      </p>
      <!-- Movie tagline-->
      <p class="card__title">
        {{movie?.tagline}}
      </p>
      <!-- Movie release_date-->
      <div class="span-Subtitle">
        <span class="subtitle"><strong>Date:</strong> {{movie?.release_date |
          date:' yyyy/ MMMM/dd '}}</span>
      </div>
      <!-- Movie Gender-->
      <div class="card__subtitle">
        <div class>
          <span class="subtitle"> <strong>Gender:</strong>
            <ul>
              <li *ngFor="let gender of movie?.genres">{{ gender?.name }}</li>
            </ul></span>
        </div>
      </div>
      <!-- Movie Duration-->
      <div class="card__subtitle">
        <span class="subtitle"><strong>Duration:</strong>{{
          calculateDuration().hours }} hr {{ calculateDuration().minutes }} min</span>
      </div>
      <!-- Movie Overview-->
      <div class="container">
        <strong>Overview</strong>
        <p class="card__descr">
          {{movie?.overview}}
        </p>
      </div>
      <!-- Movie Production-->
      <h4 class="title-Production">Production Companies</h4><br />
      <div class="production">
        <div class="production-row">
          <div
            *ngFor="let productions of movie?.production_companies; let i = index"
            class="production-item">
            <img [src]="getImageUrlProduct(productions.logo_path)"
              class="image-production" [alt]="productions.name">
          </div>
        </div>
      </div>
      <!-- Button GoBack-->
      <div class="card__links">
        <div>
          <a href="./allMovies"> <button>
              Return
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
