<app-header></app-header> 

  <div class="card" >
      <div class="card__img"> <img [src]= "getImageUrl(movie?.poster_path)" class="st53" alt=""></div>
      <div class="card__descr-wrapper">
        <p class="card__title">
       {{movie?.title}}
      </p>
      <p class="card__title">
        {{movie?.tagline}}
       </p>
        <p class="card__subtitle">
        <span class="subtitle">Date: {{movie?.release_date | date}}</span>
        <span class="subtitle">Gender:
          <ul>
            <li *ngFor="let gender of movie?.genres">{{ gender?.name }}</li>
          </ul></span>
          <span class="subtitle">Duration: {{ calculateDuration().hours }} hr {{ calculateDuration().minutes }} min</span>

  
      </p>
      <p class="card__descr">
          {{movie?.overview}}
      </p>
      <h4 class="title-Production">Production Companies</h4><br/>
      <div class="production" >
        <div class="production-row">
          <div *ngFor="let productions of movie?.production_companies; let i = index" class="production-item">
              <img [src]= "getImageUrlProduct(productions.logo_path)" class="image-production" [alt]="productions.name">
          </div>
        </div>
        </div>
      <div class="card__links">
        <div>
         <a href="/"> <button >
              Regresar
            </button>
          </a>
        </div>
      </div>
    </div>
</div>

